<div class="odstep"></div>
<div class="topnav" id="myTopnav">
  <a routerLink="/top-games" routerLinkActive="activebutton" > Top Games</a>
  <a routerLink="/new-games" routerLinkActive="activebutton" >New Games</a>
  <a routerLink="/slots" routerLinkActive="activebutton">Slots</a>
  <a routerLink="/jackpots" routerLinkActive="activebutton">Jackpots</a>
  <a routerLink="/live" routerLinkActive="activebutton">Live</a>
  <a routerLink="/blackjack" routerLinkActive="activebutton">Blackjack</a>
  <a routerLink="/toulette" routerLinkActive="activebutton">Roulette</a>
  <a routerLink="/table" routerLinkActive="activebutton">Table</a>
  <a routerLink="/poker" routerLinkActive="activebutton">Poker</a>
  <a routerLink="/other" routerLinkActive="activebutton">Other</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
